/* Category Expand Card */
.card {
    width: 90%;
    max-width: 1300px;
    height: 700px;

    display: flex;
    gap: 20px;
    padding: 30px;

    border-radius: 6px;
    align-items: stretch;
    font-size: 30px;
    font-weight: 700;
}

.card p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/src/assets/Category/Electronics.jpg);
    border: 1px solid #ff5a91;
    border-radius: 20px;

    cursor: pointer;
    overflow: hidden;
    transition: flex 0.5s ease;
}

.card p:hover {
    flex: 4;
}

.card p span {
    min-width: 14em;
    padding: 0.5em;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff568e;

    transform: rotate(-90deg);
    transition: transform 0.5s ease;
}

.card p:hover span {
    transform: rotate(0);
}

/* Mobile */
@media (max-width: 640px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .card p span {
        transform: rotate(0);
    }
}