/* Banner styles */
.banner {
    background: #6d8196;
    color: white;
    padding: 20px;
}

.banner-title {
    font-size: 2.25rem;
    /* text-4xl */
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.banner-text {
    font-size: 1.125rem;
    /* text-lg */
    opacity: 0.9;
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 1.875rem;
        /* text-3xl */
    }

    .banner-text {
        font-size: 1rem;
        /* text-base */
    }
}